@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply  mt-1 w-full shadow rounded-lg bg-gray-700 text-gray-300 focus:outline-none 
    focus:ring-transparent  focus:bg-gray-600 focus:border-transparent border-transparent
  }
  [type='radio']
  {
    @apply form-radio mt-3 shadow bg-gray-900 w-6 h-6 border-transparent 
    focus:ring-indigo-500 checked:bg-indigo-500 text-indigo-500 active:bg-indigo-500
  }
  [type='checkbox']{
    @apply form-checkbox mt-3 rounded-lg shadow bg-gray-900 w-6 h-6 border-transparent
    focus:ring-indigo-500  checked:bg-indigo-500 text-indigo-500 active:bg-indigo-500
  }



}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
